<!DOCTYPE html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Home</title>    
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="script" href="js/bootstrap.min.js">
  <script type="text/javascript" language="javascript" src="js/runshortcut.js"></script>
    
    <style>
	
	@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

		*{
			margin: 0px;
			padding: 0px;
		}

		body{
			background-image: linear-gradient(to right, #141e30, #243b55);
			font-family: 'Exo', sans-serif;
		}


	.center {
	  margin: auto;
	  width: 50%;
	  border: 0px solid gray;
	  padding: 10px;
	}
    </style>
</head>
    <!--body style ="background: linear-gradient(90deg, #C56332 0%, #EA672B 35%, #FFC72C 100%);"-->
	<!-- body style ="background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);" -->
	<body >
	
        
        <br/>
        <br/>
		<div class="center">
        <section class="intro">              
          <div class="container" >
            <p class="h2 mb-4 text-white"> Generate a shortlink<br> and shared.</p>
            
            <div class="row">
                <div class="col-12 mb-4">
                  <div class="input-group">
                    <div class="form-outline flex-fill">
                      <div class="input-group">
                          <input  id="myurl" name="myurl" type="search" class="form-control rounded" placeholder="Input your URL" aria-label="Search" aria-describedby="search-addon" />
                          <button type="submit" class="btn btn-primary" onclick="postShortlinkRest()">generate</button>
                        </div>                       
                    </div>                      
                  </div>
                </div>
              </div>  

<br/>


<br/>
          <div class="card" style = "border: 1px solid gray;;">
            <div class="card-body p-4">
              <div class="row">
                <div class="col-12 mb-4">
                  <div class="input-group">
                    <div class="form-outline flex-fill">
                      <div class="input-group">   
                        <label id="labellink" name="labellink">URL</label>						
                        </div>
                    </div>                      
                  </div>
                </div>
              </div>   
				<button class="btn btn-secondary" onclick="myCopy()">Copy text</button>			  
            </div>            
        </div>

        </div>      
    </section>
    </div>

    </body>
</body>
</html>